.header {
    color: var(--primary-baige);
    font: 20px;
    text-align: center;
    padding: 30px;
}
.container{
    /* display: flex; */
        justify-content: center;
        align-items: center;
        width:250px;
}

.using {
    color: var(--secondary-baige);
    padding: 20px 30px;
    text-align: center;
}

.signupform{
    display: flex; 
    justify-content: center;
    align-items: center; 
}

.submit{
    background-color: var(--secondary-baige);
    color: var(--secondary-blue);
    border: 0;
    width: 250px;
    text-align: center;
    margin-top: 20px;
}
.submit:hover{
    background-color: var(--secondary-blue);
        color: var(--primary-baige);
}

.group{   
    margin-bottom: 20px;
    width: 250px;;
    padding-bottom: 0;
}

.icon{
    background-color: var(--secondary-baige);
    color:var(--secondary-blue);
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-baige);
}
.textbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
        
}
.text{
    padding-top: 0;
    color: var(--primary-baige);
    font-size: 14px;

}
.input{
    background-color: var(--secondary-baige);
    border-left: 0;
}

.box{
    width:250px;
    display: flex;
    justify-content: space-between;
    padding: 0 70px;
}