.custom-card {
  min-width: 150px;
  background-color: var(--secondary-baige);
  border: 2px solid var(--secondary-baige);
  max-width: 400px;
  border-radius: 15px 0;
  box-shadow: 4px 4px var(--secondary-baige);
  margin: 15px;
  height: 500px;
  overflow: hidden;
  position: relative;

  &:hover {
    box-shadow: none;
    transition: 0.2s;
  }
}

.product-img {
  border-radius: 100%;
  max-height: 250px;
  max-width: 250px;
  object-fit: cover;
  border: 3px solid var(--primary-blue);
}

.card-body {
  color: #212529;
}

.card-title {
  font-size: 28px;
}

.card-price {
  color: #6dacc9;
  font-size: 32px;
  position: absolute;
  bottom: -16px;
  left: 0;
  background: var(--secondary-baige);
  width: 35%;
  border-radius: 0 15px 0 0;
  border: 1px solid var(--primary-blue);
}

.custom-card-text {
  position: absolute;
  bottom: 50px;
  left: 15px;
  right: 15px;
}

.add-to-cart-btn {
  background-color: #6dacc9;
  border: none;
  width: 60%;
  height: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 15px 0;

  &:hover {
    background-color: transparent;
    border: 2px solid #6dacc9;
    color: #6dacc9;
    transition: 0.3s;
  }
}

.fav-icon {
  position: absolute;
  font-size: 30px;
  color: var(--primary-blue);
}

.half_circle {
  position: absolute;
  background: var(--secondary-baige);
  height: 180px;
  width: 90px;
  border-bottom-right-radius: 90px;
  border-top-right-radius: 90px;
  left: 0;
  bottom: 0;
  opacity: 0.4;
  transform: scale(2);
}

.InputContainer {
  width: 410px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to bottom,
    var(--secondary-baige),
    var(--primary-baige)
  );
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
}

.input {
  width: 400px;
  height: 40px;
  border: none;
  outline: none;
  caret-color: var(--primary-blue);
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  padding-left: 15px;
  letter-spacing: 0.8px;
  color: rgb(19, 19, 19);
  font-size: 13.4px;
}

@media (max-width: 946px) {
  .custom-card {
    max-width: 550px;
  }

  .collections--header {
    font-size: 75px;
  }

  .InputContainer {
    width: 310px;
  }

  .input {
    width: 300px;
  }
}

@media (max-width: 576px) {
  .card-title {
    font-size: 20px;
  }

  .card-price {
    font-size: 30px;
  }

  .add-to-cart-btn {
    height: 48px;
  }
}

/* Notification Popup */

.notification-popup {
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 10px 20px;
  background-color: var(--secondary-baige);
  color: var(--primary-blue);
  border: 2px solid var(--primary-blue);
  border-radius: 8px;
  transition: 0.3s ease;
  z-index: 1000;
}
